.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #bfa8a6a9;
  margin-left: 460px;
  margin-right: 460px;
  margin-top: 45px;
  padding: 25px 15px;
  box-shadow: 1px 2px 3px 4px rgba(208, 225, 151, 0.395);
}
.labelCss{
    text-align: start;
  }

form {
  display: flex;
  flex-direction: column;
  
  width: 300px;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.google-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-with-google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #db4437;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.continue-with-google:hover {
  background-color: #c33125;
}

.error{
  color: #c33125;
}